
Delphi/Demo/Basic/BasicComp.dproj
Delphi/Demo/Basic/BasicComp.dproj.local
Delphi/Demo/Basic/BasicComp.identcache
Delphi/Demo/Surface/__history/MainFrm.dfm.~1~
Delphi/Demo/Surface/__history/MainFrm.pas.~1~
Delphi/Demo/Surface/SurfaceComp.dproj
Delphi/Demo/Surface/SurfaceComp.dproj.local
Delphi/Demo/Surface/SurfaceComp.identcache
Delphi/Demo/Surface/SurfaceComp.res
Delphi/Demo/Surface/SurfaceComp.stat
Delphi/Demo/Surface/Win32/Debug/Jedi.Direct3D9.dcu
Delphi/Demo/Surface/Win32/Debug/Jedi.Direct3D9.Types.dcu
Delphi/Demo/Surface/Win32/Debug/MainFrm.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Bitmaps.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Canvas.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Canvas.DX11.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Canvas.DX9.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Canvas.GL.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Canvas.SRT.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Classes.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Comps.Assets.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Comps.AtlasImage.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Comps.Core.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Comps.Surfaces.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Comps.Surfaces.Process.dcu
Delphi/Demo/Basic/BasicComp.dproj.local
Delphi/Demo/Basic/BasicComp.identcache
Delphi/Demo/Surface/SurfaceComp.dproj.local
Delphi/Demo/Surface/SurfaceComp.identcache
Delphi/Demo/Surface/SurfaceComp.res
Delphi/Demo/Surface/SurfaceComp.stat
Delphi/Demo/Surface/Win32/Debug/PXL.Comps.Surfaces.Process.Generators.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Comps.VCL.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Comps.VCL.View.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Consts.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Devices.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Devices.DX11.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Devices.DX9.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Devices.GL.Win.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Devices.SRT.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Events.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Fonts.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Formats.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.ImageFormats.Auto.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.ImageFormats.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.ImageFormats.WIC.dcu
Delphi/Demo/Surface/Win32/Debug/PXL.Images.dcu
*.dcu
*.local
*.bpi
*.bpl
*.dcp
*.lib
*.exe
*.local
